@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
body {
    font-family: Dancing Script, sans-serif;
    font-weight: 400;
}

/* headings and logo styling */

#logo {
    float: left;
    font-size: 270%;
    color:#50595E;
    
}

/* header menu links */ 

#menu {
    font-size: 115%;
    letter-spacing: 3px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    padding-top: 30px;
}

/* header images styling */

#header-image {
    height:500px;
    width:100%;
    background: url('../images/anvil.jpg') left no-repeat, url('../images/horseshoe.jpg') right;
    position: absolute;
    top:10%;
}

/* main section images and styling */

#main-section {
    height:700px;
        
}

#about {
    height:500px;
    width:500px;
    background: url('../images/about1.JPG') left no-repeat;
    float: left;
}

#workshop {
    height:500px;
    width:500px;
    background: url('../images/workshop1.jpg') center no-repeat;
    margin: 0 auto;
}

#vision {
    height:500px;
    width:500px;
    background: url('../images/vision1.JPG') right no-repeat;
    float: right;
}

#main-section, h1 {
    text-align: center;
    color: rgb(102, 106, 109);
    font-family:Dancing Script, sans-serif;
    font-size:100px;
}