@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
body {
    font-family: Dancing Script, sans-serif;
    font-weight: 400;
    background-color: #E8E8E8;
}

/* headings and logo styling */

#logo {
    float: left;
    margin-top: 10px;
    font-size: 270%;
    color:#50595E;
}

/* header menu links */ 

#menu {
    font-size: 170%;
    letter-spacing: 3px;
    margin-top: 10px;
    color:#50595E;
    font-family: Helvetica, sans-serif;
    font-weight: bolder;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    padding-top: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

menu, a:hover{
    border-bottom: 1px solid black;
}



/* header images styling */

#header-image {
    height:500px;
    width:100%;
    background: url('../images/anvil.jpg') left no-repeat, url('../images/horseshoe.jpg') right no-repeat;
    position: absolute;
    top:10%;
}

/* main section styling */

#main-section {
    height:700px;
                
}

#main-section, h1 {
    text-align: center;
    color: rgb(102, 106, 109);
    font-family:Dancing Script, sans-serif;
    font-size:100px;
}

.row {
    display: table;
    width: 100%;
    table-layout:fixed;
       
}

.row, h2 {

    text-align: left;
    font-size: 50px;
    font-weight: bold;
    color:#50595E;
}

h3 {
    
    font-family: sans-serif;
    font-size: large;
    margin-right: auto;
    width: 85%;
    text-align: justify;     
}

.about {
    height:470px;
    width:33%;
    display: table-cell;
        
}

.workshop {
    height:470px;
    width:33%;
    display: table-cell;
    
}

.vision {
    height:470px;
    width:33%;
    display: table-cell;
    
}

/* footer styling */

footer {
    height:200px;
    
}

.social-media {
    
    text-align: center;
}

.social-media li {
    display: inline;
}

.social-media i {
    font-size: 200%;
    margin:2px;
    padding: 10%;
    color: black;
}

/* mywork page styling */

#gallery {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#gallery > img {

    width: 100%;
}

/* contact page styling */ 

.contact {
    clear: left;
    background: url('../images/backgroundanvil.jpg');
    background-size: cover;
    background-position: center;
    height: 980px;
          
}

.contact-form {
    margin: 75px 10% 0 0;
    color: black;
    background-color:#D7E2E4;
    max-width:300px;
    position: absolute;
    left: 10%;
    padding: 50px;
    font-family: Arial, sans-serif;
}

input, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

 