@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
body {
    font-family: Dancing Script, sans-serif;
    font-weight: 400;
    background-color: #E8E8E8;
}

/* headings and logo styling */

#logo {
    float: left;
    margin-top: 10px;
    font-size: 270%;
    color:#50595E;
}

/* header menu links */ 

#menu {
    font-size: 170%;
    letter-spacing: 3px;
    margin-top: 10px;
    color:#50595E;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    padding-top: 30px;
}


/* header images styling */

#header-image {
    height:500px;
    width:100%;
    background: url('../images/anvil.jpg') left no-repeat, url('../images/horseshoe.jpg') right;
    position: absolute;
    top:10%;
}

/* main section styling */

#main-section {
    height:700px;
                
}

#main-section, h1 {
    text-align: center;
    color: rgb(102, 106, 109);
    font-family:Dancing Script, sans-serif;
    font-size:100px;
}

.row {
    display: table;
    width: 100%;
    table-layout:fixed;
       
}

.about {
    height:470px;
    width:33%;
    display: table-cell;
        
}

.workshop {
    height:470px;
    width:33%;
    display: table-cell;
    
}

.vision {
    height:470px;
    width:33%;
    display: table-cell;
    
}

/* footer styling */

footer {
    height:200px;
    
}

.social-media {
    
    text-align: center;
}

.social-media li {
    display: inline;
}

.social-media i {
    font-size: 200%;
    margin:2px;
    padding: 10%;
    color: black;
}

/* mywork page styling */

#gallery {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#gallery > img {

    width: 100%;
}